@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1500px !important;
  margin: 0 auto 0 auto;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 650px;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 580px;
  }
}

@media (max-width: 580px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 100%;
    padding: 0 1em 0 1em !important;
  }
}
